@mixin standard-text {
    box-sizing: border-box;
    display: flex;
    color:red;
    max-width: 100%;
    text-align: center;
    padding-top: 1em;
    
  }
$padding-standard: 60px;
$color-bright: #97d279;
$color-light: #ecffe9;
$color-soft: #c0eea9;
$color-black:#090b08;
$color-white: #fff;

/*
#090b08
*/